#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* App.scss */
.nav-list {
  background-color: #333;
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    li {
      margin-right: 20px;
      a {
        text-decoration: none;
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


.person-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  h4 {
    margin: 5px 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

.card-actor {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .persons-list {
    display: grid;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
  }
}



.input-bar {
  margin-bottom: 20px;
  input {
    padding: 5px;
    margin-right: 10px;
  }
  button {
    padding: 5px 10px;
  }
}



.person-data {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
 

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 8px;

    strong {
      margin-right: 5px;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 5px;
  }
}

// Add more styles as needed
